{% extends base_template %}
{% load mptt_tags %}

{% block app_body %}
<nav id="categories">
    <ul>
    {% recursetree shop.categories %}
	{% if node.level > 0 %}
	<li class="level-{{ node.level }}">
	    <a {% if node.id == root.id %}class="active"{% endif %} title="{{ node.title }}" href="{{ node.get_absolute_url }}">{{ node.title }}</a>
	    {% if not node.is_leaf_node %}
	    <ul>{{ children }}</ul>
	    {% endif %}
	</li>
	{% else %}
	{{ children }}
	{% endif %}
    {% endrecursetree %}
    </ul>
</nav>
<article id="content">{% block body %}{% endblock %}</article>
{% endblock %}