{% extends "shop/base.html" %}
{% load endless %}
{% load chunks %}
{% load cache %}

{% block body %}
    {% if root.is_root_node %}
    {% cache 600 'chunks' %}
    <article class="chunk">
	{% chunk "main-page-text" %}
    </article>
    {% endcache %}
    {% endif %}
    {% with wares=root.wares.select_related.all %}
    {% paginate 9 wares %}
    {% for ware in wares %}
    {% include 'partials/ware.item.html' with item=ware %}
    {% endfor %}
    <div class="pagination">{% show_pages %}</div>
    {% endwith %}
{% endblock %}
