{% extends "shop/base.html" %}

{% block body %}
<section class="container container_16 clearfix">
    <article class="grid_16 alpha omega">
        <header>
    	    <h1>{{ ware.title }}</h1>
    	    <h2><a href="{{ ware.category.get_absolute_url }}" title="{{ ware.category }}">{{ ware.category }}</a></h2>
    	</header>
    	<div class="ware-item">
    	    <div class="image">
    		{% if ware.image %}
    		    <img src="{{ MEDIA_URL }}{{ ware.image }}">
    		{% else %}
    		    <img src="http://placekitten.com/200/300">
    		{% endif %}
    	    </div>
    	    <div>
    	    {% for variant in ware.variants.all %}
    	    {{ variant.price }} {{ variant.pack }} {{ variant.weight }} {{ variant.units }} руб.
    	    {% endfor %}
    	    </div>
    	    <div>{{ item.description }}</div>
    	</div>
</section>
{% endblock %}
