.node circle, .node rect {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 13px sans-serif;
}

.link path {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.link text {
    color: #444;
}
